
.title {
    width: 100%;
    font-size: smaller;
    font-weight: bolder;
}

.titleCol {
    padding-left: 0px;
}

.labelT {
    font-size: medium;
    font-family: monospace;
}

.dateT {
    font-weight: 700;
}

.progressB {
    height: 8px;
}

.footerF {
    padding-top: 15px;
}

.footerR {
    padding-top: 5px;
}

.titleItem { 
    height: 34px;
}